spring:
  reset-password-url: http://localhost:3000/change-password
  application:
    name: rentaplace
  datasource:
    url: jdbc:h2:mem:pms-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show-sql: true
    generate-ddl: true
  sql:
    init:
      mode: always
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  mail:
    host: smtp.gmail.com
    username: 'mailserverpms@gmail.com'
    port: '587'
    properties:
      mail:
        smtp:
          starttls:
            enable: 'true'
          auth: 'true'
    password: 'bnuo kirn gjpd lzbm'
server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    enabled-by-default: false
  endpoint:
    info:
      enabled: true

jwt:
  secret: ${JWT_SECRET:1234}
razorpay:
  key-id: ${RAZORPAY_KEY_ID:rzp_test_SAuLIKBj4mgzRD}
  key-secret: ${RAZORPAY_KEY_SECRET:BhtYoUPsb6zLGJJYIxiXMesb}
mail:
  enabled: ${ENABLED:true}